.backgroundShowRecipes{
    background: linear-gradient(to bottom, #FFFFFF 0%, rgba(158, 171, 228, 0) 25%, rgba(158, 171, 228, 0) 80%, #FFFFFF 100%),
    radial-gradient(circle at top left, #9eabe4, rgba(158, 171, 228, 0) 80%),
    radial-gradient(circle at bottom right, #77eed8, rgba(119, 238, 216, 0) 80%);
    height: 100%;   
    min-height: 85.3vh;
    width: 100%;
    text-align: center;
}

.backgroundShowRecipes h1 {
    margin-bottom: 20px;
}

.divTabla {
    margin: auto;
    width: 80%;
    border: none;
}

#encabezadoTableNombre{
    border-top-left-radius: 20px;
}

#encabezadoTableAcciones{
    border-top-right-radius: 20px;
}

#tdNombre{
    border-bottom-left-radius: 20px;
}

#tdAcciones{
    border-bottom-right-radius: 20px;
}

.table{
    margin-top: 20px;
    box-shadow: 0px 0px 10px rgb(105, 105, 105);
    border-radius: 20px;
    background-color: white;
}

.btnCrearReceta {
    float: right; 
    margin-right: 10%; 
    margin-bottom: 20px; 
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.btnEditar{
    margin-right: 5px;
    margin-bottom: 5px;
}
