.backgroundDashboard{
    background: linear-gradient(to bottom, #FFFFFF 0%, rgba(158, 171, 228, 0) 25%, rgba(158, 171, 228, 0) 80%, #FFFFFF 100%),
              radial-gradient(circle at top left, #9eabe4, rgba(158, 171, 228, 0) 80%),
              radial-gradient(circle at bottom right, #77eed8, rgba(119, 238, 216, 0) 80%);
    height: 100%;   
    min-height: 85.3vh;
    width: 100%;
    display: flex;
    justify-content: center;
} 

.formRecipes{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buscadorInput{
    width: 800px;;
}

.recipesDashboard{
    margin-top: 5%;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
}

#cartas{
    max-width: 300px;
    min-width: 300px;
    max-height: 200px;
    min-height: 200px;
}

.card-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card:hover{
    box-shadow: 0px 0px 6px rgb(117, 117, 117);
    transform: scale(1.05);
    transition: all .3s ease-in-out;
}
